certifi==2025.6.15 ; python_version >= "3.12"
charset-normalizer==3.4.2 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
lxml==5.4.0 ; python_version >= "3.12"
pytelegrambotapi==4.27.0 ; python_version >= "3.12"
python-docx==1.1.2 ; python_version >= "3.12"
requests==2.32.4 ; python_version >= "3.12"
telebot==0.0.5 ; python_version >= "3.12"
typing-extensions==4.14.0 ; python_version >= "3.12"
urllib3==2.4.0 ; python_version >= "3.12"
